<div class="header">
  <nav class="navbar navbar-expand-lg bg custom-navbar p-5">
    <div class="container-fluid px-5">
      <a class="navbar-brand" href="#">JED BARTOLOME</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active mx-4" aria-current="page" href="#">Home</a>
          <a class="nav-link mx-4" href="#about">About</a>
          <a class="nav-link mx-4" href="#portfolio">Portfolio</a>
          <a class="nav-link mx-4" href="#contact">Contact</a>
        </div>
      </div>
    </div>
  </nav>
<div class="container hero-header" id="home">
  <div class="row p-5 align-items-center">
    <div class="col-md-6">
        <h1 class="intro">Hello Everyone! I'm</h1>
        <h2 class="name">JED BARTOLOME</h2>
        <h2 class="job-title">Web Developer/UI-UX</h2>
        <div class="d-flex gap-2">
          <a href="#contact" class="btn border-2 custom-btn">Contact Me</a>
        </div>
    </div>
    <div class="col-md-6 text-center ">
        <img src="/assets/jed.svg" class="img-fluid rounded-square w-100" alt="Jed Bartolome">
    </div>
  </div> 
</div>
<div class="container-fluid skills" id="about">
  <div class="row d-flex align-items-center text-center pt-5">
    <h2 class="skills-word text-center" >SKILLS</h2>
  </div>
  <div class="row p-5 align-items-center justify-content-evenly">
    <div class="col-md-3 d-flex justify-content-center">
      <div class="card align-items-center text-center p-5 skills-card">
        <img class="card-img-top skills-svg" src="/assets/front-end.svg" alt="Card image cap">
        <div class="card-body d-flex justify-content-center align-items-center">
          <p class="card-text skills-text">Front-end <br> Development </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 d-flex justify-content-center">
      <div class="card align-items-center text-center p-5 skills-card">
        <img class="card-img-top skills-svg" src="/assets/ui-ux.svg" alt="Card image cap">
        <div class="card-body d-flex justify-content-center align-items-center">
          <p class="card-text skills-text">UI/UX</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 d-flex justify-content-center">
      <div class="card align-items-center text-center p-5 skills-card">
        <img class="card-img-top skills-svg" src="/assets/wordpress.svg" alt="Card image cap">
        <div class="card-body d-flex justify-content-center align-items-center">
          <p class="card-text skills-text">Wordpress <br> Development </p>
        </div>
      </div>
    </div>
  </div> 
</div>
<div class="container-fluid hero-header">
  <div class="row d-flex align-items-center text-center pt-5">
    <h2 class="text-center about-me">ABOUT ME</h2>
  </div>
  <div class="row p-5 align-items-center">
    <div class="col-md-6 text-center px-5" >
      <img src="/assets/Me-formal.jpg" class="img-fluid" style="width: 500px;" alt="Jed Bartolome">
    </div>
    <div class="col-md-6 px-5 mx-md-auto">
        <h2 class="about-subtitle custom-about mt-5 mt-md-0">Hello I am Jed</h2>
        <p class="about-me "> A Graduate of Bachelor of Science in Information Technology with area of Specialization in Web Development.
          Graduated Summa Cum Laude, Most Outstanding Student for Graduating Web Development, awareded in Leadership Excellence and also Best in Capstone. I do Love
          creating and designing Websites and when I have a spare time, I love watching Youtube videos, or design a Website using Figma. I want to collaborate with you soon
          and don't hesitate to contact me.
        </p>
    </div>
  </div> 
</div>
<div class="container-fluid skills" id="contact">
  <div class="row d-flex align-items-center text-center pt-5">
    <h2 class="skills-word text-center" >CONTACT ME</h2>
  </div>
  <div class="row p-5 align-items-center justify-content-evenly">
    <div class="col-md-3 d-flex justify-content-center">
      <div class="card align-items-center text-center p-5 skills-card">
        <img class="card-img-top skills-svg" src="/assets/phone.svg" alt="Card image cap">
        <div class="card-body d-flex justify-content-center align-items-center">
          <p class="card-text skills-text">+63 917-3822-990 </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 d-flex justify-content-center">
      <div class="card align-items-center text-center p-5 skills-card">
        <img class="card-img-top skills-svg" src="/assets/linkedin.svg" alt="Card image cap">
        <div class="card-body d-flex justify-content-center align-items-center">
          <p class="card-text skills-text">Jed Miguel <br> Bartolome</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 d-flex justify-content-center">
      <div class="card align-items-center text-center p-5 skills-card">
        <img class="card-img-top skills-svg" src="/assets/mail.svg" alt="Card image cap">
        <div class="card-body d-flex justify-content-center align-items-center">
          <p class="card-text skills-text"> {{'jed.bartolome17'}} <br> {{'@gmail.com'}} </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container hero-header" id="portfolio">
  <div class="row d-flex align-items-center text-center pt-5">
    <h2 class="text-center works">Some of My</h2>
    <h2 class="text-center works-title mb-5">WORKS</h2>
  </div>
  <div class="row pb-5 mb-4">
    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->
      <div class="card shadow-sm border-0 rounded">
        <div class="card-body p-0 card-portfolio"><img src="/assets/nasi.jpg" alt="" class="w-100 card-img-top img-portfolio">
          <div class="p-4">
            <h5 class="mb-0 portfolio-title">Nasi Rice Trading</h5>
            <p class="small portfolio-subtitle">Wordpress</p>
            <div class="d-flex gap-2">
              <a href="#contact" class="btn border-2 custom-btn">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->
      <div class="card shadow-sm border-0 rounded">
        <div class="card-body p-0 card-portfolio"><img src="/assets/uro.jpg" alt="" class="w-100 card-img-top img-portfolio">
          <div class="p-4">
            <h5 class="mb-0 portfolio-title">University Research Office</h5>
            <p class="small portfolio-subtitle">Angular, Laravel, MySql</p>
            <div class="d-flex gap-2">
              <a href="https://hauresearchoffice.com/account/login" class="btn border-2 custom-btn">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->
      <div class="card shadow-sm border-0 rounded">
        <div class="card-body p-0 card-portfolio"><img src="/assets/resto.png" alt="" class="w-100 card-img-top img-portfolio">
          <div class="p-4">
            <h5 class="mb-0 portfolio-title">Resto Search</h5>
            <p class="small portfolio-subtitle">Html, CSS, JavaScript, No-Sql</p>
            <div class="d-flex gap-2">
              <a href="#contact" class="btn border-2 custom-btn">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row pb-5 mb-4">
    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->
      <div class="card shadow-sm border-0 rounded">
        <div class="card-body p-0 card-portfolio"><img src="/assets/izakaya.jpg" alt="" class="w-100 card-img-top img-portfolio">
          <div class="p-4">
            <h5 class="mb-0 portfolio-title">Izakaya Island</h5>
            <p class="small portfolio-subtitle">Html, CSS, JavaScript, TypeScript, Angular</p>
            <div class="d-flex gap-2">
              <a href="https://angular-midterm-exams-fqtzzs-16ckeu.stackblitz.io/home" class="btn border-2 custom-btn">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->
      <div class="card shadow-sm border-0 rounded">
        <div class="card-body p-0 card-portfolio"><img src="/assets/thebakery.jpg" alt="" class="w-100 card-img-top img-portfolio">
          <div class="p-4">
            <h5 class="mb-0 portfolio-title">The Bakery</h5>
            <p class="small portfolio-subtitle">Figma</p>
            <div class="d-flex gap-2">
              <a href="https://www.figma.com/design/l5iJpwTRDF4qx5BNd9kxkS/Portfolio?node-id=0-1&t=Mvw3KLwEOwKOh3P1-1" class="btn border-2 custom-btn">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->
      <div class="card shadow-sm border-0 rounded">
        <div class="card-body p-0 card-portfolio"><img src="/assets/franz.jpg" alt="" class="w-100 card-img-top img-portfolio">
          <div class="p-4">
            <h5 class="mb-0 portfolio-title">Franz Leon Discography Website</h5>
            <p class="small portfolio-subtitle">Wordpress</p>
            <div class="d-flex gap-2">
              <a href="https://www.figma.com/design/l5iJpwTRDF4qx5BNd9kxkS/Portfolio?node-id=0-1&t=Mvw3KLwEOwKOh3P1-1" class="btn border-2 custom-btn">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="py-3">
  <div class="row d-flex align-items-center text-center pt-5">
    <h2 class="text-center works footer-title">Collaborate With you</h2>
    <p class="text-center footer-paragraph mt-5">Do you want to collaborate in the future? Reach me out <br> to have a collaborative work with you.</p>
    <div class="d-flex justify-content-center">
      <a href="https://heyzine.com/flip-book/70581ec8f5.html" class="btn border-2 custom-btn mb-5">Resume</a>
    </div>
  </div>
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a href="#" class="nav-link px-2" style="height: 27px;"> <img src="/assets/linkedin.svg" alt=""></a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2"><img src="/assets/facebook.svg" alt=""></a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2"><img src="/assets/github.svg" alt=""></a></li>
  </ul>
  <p class="text-center footer-credits">&copy; 2024 Jed Miguel Bartolome</p>
</footer>
</div>



